<hmtl>
<link rel="stylesheet" type="text/css" href="main.css">
	<body>
		<script type="text/javascript" src="parallax.min.js"></script>
		<ul id="scene" style="height:100%;">
			<li class="layer" data-depth="0.00"><div class="fog"></div></li>
			<li class="layer" data-depth="-0.20"><div class="cloud1"></div></li>
			<li class="layer" data-depth="0.40"><div class="cloud2"></div></li>
			<li class="layer" data-depth="0.60"><div class="water-right"></div></li>
			<li class="layer" data-depth="-0.60"><div class="water-left"></div></li>
			<li class="layer" data-depth="1.00"><div class="frodo"></div></li>
		</ul>
		<script type="text/javascript">
			var scene = document.getElementById('scene');
			var parallax = new Parallax(scene);
		</script>
	</body>
</hmtl>