body, html{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.layer {
width: 100%;
    height: 100%;
}

body{
    background-color: #7EC0EE;
}

.water-left{
    position: fixed;
    bottom: -10%;
    right: -10%;
    width: 120%;
    height: 40%;
    background: url("water.png") no-repeat;
    background-size: cover;
}

.water-right{
    position: fixed;
    bottom: -5%;
    right: -10%;
    width: 120%;
    height: 30%;
    background: url("water.png") no-repeat;
    background-size: cover;
}

.cloud1{
    position: fixed;
    top: 1%;
    left: 2%;
    width: 40%;
    height: 40%;
    background: url("cloud2.png") no-repeat;
    background-size: contain;
}

.cloud2{
    position: fixed;
    top: 2%;
    left: 50%;
    width: 50%;
    height: 50%;
    background: url("cloud2.png") no-repeat;
    background-size: contain;
}


.fog{
    position: fixed;
    top: 0%;
    left: -4%;
    width: 104%;
    height: 100%;
    background: url("http://img01.deviantart.net/4dc3/i/2014/275/4/2/light_atmospheric_clouds_stock_photo_2___png_by_annamae22-d81c5lk.png") no-repeat;
    background-size: cover;
}

.frodo{
    position: fixed;
    bottom: 10%;
    left: 30%;
    width: 60%;
    height: 60%;
    background: url("baloon.png") no-repeat;
    background-size: contain;
}

.bow-vow{
    position: fixed;
    top: 10%;
    right: 5%;
    width: 40%;
    height: 20%;
    font-size: 72px;
    color: #333333;
}